*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
}

/* ----- Header ----- */

header{
    background-color: #202020;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: sticky;
    top: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
nav{
    width: 100%;
    padding: 10px 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1150px;
}

.img img{
    border-radius: 10px;
    max-width: 50px;
}

.web-name a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* ----- Main ----- */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.filter{
    width: 50%;
    margin-top: 50px;
    color: #222;
}

.filter label {
    z-index: 0;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 50px;
    width: 100%;
    max-width: 1200px;
}
.card-container-selected{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 50px;
    width: 100%;
    max-width: 1200px;
}

.card{
    overflow: hidden;
    margin-bottom: 30px;
    place-self: center;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    background-color:#222;
    background-position: center;
    max-width: 300px;  
    margin-left: 15px;
    margin-right: 15px;
}
.card h5{
    color: #ffffff;
}

.card:hover {
    .box {
      transform: rotateY(180deg);
    }
}
.box {   
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 1s ease;
}
.contentBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #222;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    color:#ffffff;
}
.card-text .desc{
    display: inline-block;
    height: 200px;
    margin-top: 50px;
    overflow-y: auto;
}

/* ----- Footer ----- */

footer{
    width: 100%;
    background: #202020;
    color: #ffffff;   
    
}
.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}
.container-body{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.colum1{
    max-width: 400px;
}
.colum1 h1{
    font-size: 22px;
}
.colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}
.colum2{
    width: 200px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
.colum2 h1{
    font-size: 22px;
}
.colum2 div{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.colum2 i {
    font-size: 1.8em;
    color: #ffffff;
}
.socials{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.socials img{
    width: 36px;
    height: 36px;
}
.colum3{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.colum3 h1{
    font-size: 22px;
}

.colum3 div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 15px 0;
}
.colum3 div:nth-child(3) p{
    margin-right: 20px;
}
.colum3 div:nth-child(4) p{
    margin-right: 38px;
}
.colum3 div p {
    margin-top: 8px;
}
.colum3 div img{
    width: 36px;
    height: 36px;
}

.container-footer{
    width: 100%;  
    background: #101010;
}
.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}
.copyright{
    color: #C7C7C7;
}
.copyright a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
.information a{
    text-decoration: none;
    color: #C7C7C7;
}
@media screen and (max-width: 1399px) {  
    .card{
        width: calc(100% - 30px);
        background-color: #222;
    }
}

/* ----- Media Querys ----- */

@media screen and (max-width: 1200px) {
    .container{
        max-width: 100%;
    }
}
    
@media screen and (max-width: 991px) {
    .card-container{
        grid-template-columns: repeat(2, 1fr);
    }
    
    .logo{
        width: 50px;
        height: 50px;
        margin: 0  auto;
        
        margin-bottom: 1rem;
    }   
    
    .card{
        width: 325px;
        background-color: #222;
    }
    .container-body{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .colum1 {
        text-align: center;
        max-width: 450px;
    }
}
    
@media screen and (max-width: 768px) {
    .card-container{
        grid-template-columns: 1fr;
    }
    .colum2{
        margin: 15px 0;
    }
    nav{
        flex-direction: column;
    }
    .web-name{
        margin-top: 15px;
    }
}